[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/testing1117
[access "refs/for/refs/*"]
	read = group user/testing1117
	push = group user/testing1117
	label-Code-Review = -2..+2 group user/testing1117
	label-Verified = -1..+1 group user/testing1117
	rebase = group user/testing1117
	removeReviewer = group user/testing1117
	submit = group user/testing1117
[access "refs/heads/*"]
	read = group user/testing1117
	create = group user/testing1117
	push = +force group user/testing1117
	pushMerge = group user/testing1117
[access "refs/tags/*"]
	push = +force group user/testing1117
	pushTag = group user/testing1117
	pushSignedTag = group user/testing1117
